.navigation
{
position: absolute;
    top: 550px;
    left: 140px;	
height:50px;
width:850px;
background-color:rgb(203,182,126);

font-size:15px;
font-family:helvetica;
 box-shadow: 1px 0px 3px #000001;
 
}


ul#navmenu,u1.sub1{
list-style-type:none;
}

ul#navmenu li 
{

border: 1px solid rgb(203,182,126);
width: 125px;
text-align: center;
float:left;
position:relative;
}

ul#navmenu a
{
text-decoration:none;
display:block;
width:125px;
height:20px;
line-height:20px;
border-radius:10px;
}

ul#navmenu li:hover >a
{

background-color:white;
}

