.new
{
position:absolute;
top:-25px;
left:140px;
height:25px;
width:50px;
background-color:#880000;
color:white;
font-size:15px;
line-height:25px;
border-radius:3px;
}
.clubbox
{
position: absolute;
    top: 650px;
    left:20px;	
height:1030px;
width:800px;
background-color:white;
color:white;
font-size:20px;
font-family:verdana;
 box-shadow:1px 1px 3px #000001;
margin:auto;
}


.clubs
{
position: absolute;
    top: 20px;
    left: 00px;	
height:30px;
width:200px;
background-color:rgb(208,190,140);
color:#880000;
font-size:20px;
font-family:verdana;
box-shadow: 2px 2px 2px #880000;

}
.technovation
{
position: absolute;
    top: 100px;
    left: 30px;	
height:200px;
width:220px;
background-color:white;
color:white;
font-size:30px;
font-family:verdana;
 box-shadow: 0px 0px 5px #000001;
 
}





.technovation1
{
position: absolute;
    top: 10px;
    left: 00px;	
height:20px;
width:200px;
background-color:rgb(208,190,140);
color:#880000;
font-size:13px;
border-radius:0px;
font-family:verdana;
box-shadow: 1px 1px 1px #880000;
}
.entrepreneur
{
position: absolute;
    top: 100px;
    left: 285px;	
height:200px;
width:220px;
background-color:white;
color:white;
font-size:30px;
font-family:verdana;
 box-shadow: 0px 0px 5px #000001;

}
.entrepreneur1
{
position: absolute;
    top: 10px;
    left: 00px;	
height:20px;
width:200px;
background-color:rgb(208,190,140);
color:#880000;
font-size:13px;
box-shadow: 1px 1px 1px #880000;
font-family:verdana;
}
.literary
{
position: absolute;
    top: 100px;
    left: 540px;	
height:200px;
width:220px;
background-color:white;
color:white;
font-size:30px;
font-family:verdana;
 box-shadow: 0px 0px 5px #000001;
}
.literary1
{
position: absolute;
    top: 10px;
    left: 0px;	
height:20px;
width:200px;
background-color:rgb(208,190,140);
color:#880000;
font-size:13px;
box-shadow: 1px 1px 1px #880000;
font-family:verdana;
}

.hobby
{
position: absolute;
    top: 340px;
    left: 540px;	
height:200px;
width:220px;
background-color:white;
color:white;
font-size:30px;
font-family:verdana;
 box-shadow: 0px 0px 5px #000001;
}

.hobby1
{
position: absolute;
    top: 10px;
    left: 0px;	
height:20px;
width:200px;
background-color:rgb(208,190,140);
color:#880000;
font-size:13px;
box-shadow: 1px 1px 1px #880000;
font-family:verdana;
}

.dramatic
{
position: absolute;
    top: 340px;
    left: 285px;	
height:200px;
width:220px;
background-color:white;
color:white;
font-size:30px;
font-family:verdana;
 box-shadow: 0px 0px 5px #000001;
}
.dramatic1
{
position: absolute;
    top: 10px;
    left: 0px;	
height:20px;
width:200px;
background-color:rgb(208,190,140);
color:#880000;
font-size:13px;
box-shadow: 1px 1px 1px #880000;
font-family:verdana;
}

.cultural
{
position: absolute;
    top: 340px;
    left:30px;	
height:200px;
width:220px;
background-color:white;
color:white;
font-size:30px;
font-family:verdana;
 box-shadow: 0px 0px 5px #000001;
}
.cultural1
{
position: absolute;
    top: 10px;
    left: 0px;	
height:20px;
width:200px;

background-color:rgb(208,190,140);
color:#880000;
font-size:13px;
box-shadow: 1px 1px 1px #880000;
font-family:verdana;
}
.nss
{
position: absolute;
    top: 580px;
    left:30px;	
height:200px;
width:220px;
background-color:white;
color:white;
font-size:30px;
font-family:verdana;
 box-shadow: 0px 0px 5px #000001;
}
.nss1
{
position: absolute;
    top: 10px;
    left: 0px;	
height:20px;
width:200px;

background-color:rgb(208,190,140);
color:#880000;
font-size:13px;
box-shadow: 1px 1px 1px #880000;
font-family:verdana;
}

.embedd
{
position: absolute;
    top: 580px;
    left:285px;	
height:200px;
width:220px;
background-color:white;
color:white;
font-size:30px;
font-family:verdana;
 box-shadow: 0px 0px 5px #000001;
}
.embedd1
{

position: absolute;
    top: 10px;
    left: 0px;	
height:32px;
width:200px;
background-color:rgb(208,190,140);
color:#880000;
font-size:13px;
font-family:verdana;
box-shadow: 1px 1px 1px #880000;
}

.research
{
position: absolute;
    top: 580px;
    left:540px;	
height:200px;
width:220px;
background-color:white;
color:white;
font-size:30px;
font-family:verdana;
 box-shadow: 0px 0px 5px #000001;
}
.research1
{
position: absolute;
    top: 10px;
    left: 0px;	
height:20px;
width:200px;
background-color:rgb(208,190,140);
color:#880000;
font-size:13px;
box-shadow: 1px 1px 1px #880000;
font-family:verdana;
}
.yoga
{
position: absolute;
    top: 820px;
    left:172px;	
height:200px;
width:220px;
background-color:white;
color:white;
font-size:30px;
font-family:verdana;
 box-shadow: 0px 0px 5px #000001;
}
.yoga1
{
position: absolute;
    top: 10px;
    left: 0px;	
height:20px;
width:200px;
box-shadow: 1px 1px 1px #880000;
background-color:rgb(208,190,140);
color:#880000;
font-size:13px;

font-family:verdana;
}
.publication
{
position: absolute;
    top: 820px;
    left:438px;	
height:200px;
width:220px;
background-color:white;
color:white;
font-size:30px;
font-family:verdana;
 box-shadow: 0px 0px 5px #000001;
}
.publication1
{
position: absolute;
    top: 10px;
    left: 0px;	
height:20px;
width:200px;
box-shadow: 1px 1px 1px #880000;
background-color:rgb(208,190,140);
color:#880000;
font-size:13px;

font-family:verdana;
}
