.box1
{
position:absolute;
top:20px;
left:100px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;
}

.box2
{
position:absolute;
top:20px;
left:420px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;

}
.box3
{
position:absolute;
top:20px;
left:700px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;

}
.box4
{
position:absolute;
top:20px;
left:1000px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;

}


.box5
{
position:absolute;
top:280px;
left:100px;
height:200px;
width:245px;
background-color:black;

border-radius:10px;
}

.box6
{
position:absolute;
top:280px;
left:420px;
height:200px;
width:245px;
background-color:black;

border-radius:10px;
}
.box7
{
position:absolute;
top:280px;
left:700px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;
}
.box8
{
position:absolute;
top:280px;
left:1000px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;

}

.box9
{
position:absolute;
top:540px;
left:100px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;
}

.box10
{
position:absolute;
top:540px;
left:420px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;

}
.box11
{
position:absolute;
top:540px;
left:700px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;

}
.box12
{
position:absolute;
top:540px;
left:1000px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;

}


.box13
{
position:absolute;
top:800px;
left:100px;
height:200px;
width:245px;
background-color:black;

border-radius:10px;
}

.box14
{
position:absolute;
top:800px;
left:420px;
height:200px;
width:245px;
background-color:black;

border-radius:10px;
}
.box15
{
position:absolute;
top:800px;
left:700px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;
}
.box16
{
position:absolute;
top:800px;
left:1000px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;

}


.box17
{
position:absolute;
top:1060px;
left:100px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;
}

.box18
{
position:absolute;
top:1060px;
left:420px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;

}
.box19
{
position:absolute;
top:1060px;
left:700px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;

}
.box20
{
position:absolute;
top:1060px;
left:1000px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;

}


.box21
{
position:absolute;
top:1320px;
left:100px;
height:200px;
width:245px;
background-color:black;

border-radius:10px;
}

.box22
{
position:absolute;
top:1320px;
left:420px;
height:200px;
width:245px;
background-color:black;

border-radius:10px;
}
.box23
{
position:absolute;
top:1320px;
left:700px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;
}
.box24
{
position:absolute;
top:1320px;
left:1000px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;

}

.box25
{
position:absolute;
top:1580px;
left:100px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;
}

.box26
{
position:absolute;
top:1580px;
left:420px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;

}
.box27
{
position:absolute;
top:1580px;
left:700px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;

}
.box28
{
position:absolute;
top:1580px;
left:1000px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;

}


.box29
{
position:absolute;
top:1840px;
left:100px;
height:200px;
width:245px;
background-color:black;

border-radius:10px;
}

.box30
{
position:absolute;
top:1840px;
left:420px;
height:200px;
width:245px;
background-color:black;

border-radius:10px;
}
.box31
{
position:absolute;
top:1840px;
left:700px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;
}
.box32
{
position:absolute;
top:1840px;
left:1000px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;

}

.box33
{
position:absolute;
top:2100px;
left:100px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;
}

.box34
{
position:absolute;
top:2100px;
left:420px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;

}
.box35
{
position:absolute;
top:2100px;
left:700px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;

}
.box36
{
position:absolute;
top:2100px;
left:1000px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;

}


.box37
{
position:absolute;
top:2370px;
left:100px;
height:200px;
width:245px;
background-color:black;

border-radius:10px;
}

.box38
{
position:absolute;
top:2370px;
left:420px;
height:200px;
width:245px;
background-color:black;

border-radius:10px;
}
.box39
{
position:absolute;
top:2370px;
left:700px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;
}
.box40
{
position:absolute;
top:2370px;
left:1000px;
height:200px;
width:245px;
background-color:black;
border-radius:10px;
}
.box
{
position:absolute;
top:2px;
left:2px;
height:1300px;
width:1345px;
background-color:rgb(209,190,140);
}
.photobox
{
position:absolute;
top:30px;
left:2px;
height:2700px;
width:1340px;
background-color:rgb(209,190,140);
}


}
