.conclusion
{
position: absolute;
    top: 2560px;
    	
height:30px;
width:1328px;
background-color:rgb(205,190,140);
color:#880000;
font-size:10px;
font-family:verdana;
margin:auto;
}


.conclusionstrip
{
position: absolute;
    top: 2551px;
    	
height:9px;
width:1328px;
background-color:#880000;
color:#880000;
font-size:10px;
font-family:verdana;
 margin:auto;
}
